import osmnx as ox
import networkx as nx
import folium
import numpy as np
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch_geometric.data import Data
from torch_geometric.nn import GATConv, GraphSAGE
